.darkBG { background-color: #2C2F33 }
.darkerBG { background-color: #23272A }
.grayerBG {  background-color: #99AAB5 }
.whiteBG { background-color: white }

.darkText { color: #2C2F33 }
.darkerText { color: #23272A }
.grayerText { color: #99AAB5 }
.whiteText { color: white }

.darkFill { fill: #2C2F33 }
.darkerFill { fill: #23272A }
.grayerFill { fill: #99AAB5 }
.whiteFill { fill: white }

.logo { 
    fill: #99AAB5; 
    transition: fill .15s ease-in;
}
.logo:hover, .logo.focus { 
    fill: white;
    transition: fill .15s ease-in;
}

.gitStats {
    color: #99AAB5; 
    transition: color .15s ease-in;
}
.gitStats:hover, .gitStats:focus {    
    color: white; 
    transition: color .15s ease-in;
}

.circle { 
    fill: #99AAB5; 
}
.circle:hover, .circle:focus {
    fill: #2C2F33;
}

.resumeBtn {    
  padding: 14px 42px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  background-color: #99AAB5;
  color: #23272A; 
  box-shadow:2px 2px 8px 0px rgba( 0, 0, 0, 0.2 );
  transition: all .15s ease-in;
}

.resumeBtn:hover, .resumeBtn:focus {
    color: #23272A; 
    background-color: white;
    transform: translateY(-2px);  	
    box-shadow:2px 2px 12px 0px rgba( 0, 0, 0, 0.2 );
    transition: all .15s ease-in;
}

.social-media {
    fill: #99AAB5; 
    transition: all .15s ease-in;
}
  
.social-media:hover, .social-media:focus {
    fill: white;
    transition: all .15s ease-in;
}

.project {
    background-image: linear-gradient(-80deg, #23272A, #2C2F33); 
    transition: all .15s ease-in;
}
.project.hover, .project.focus {
    transform: translateY(-2px);
    transition: all .15s ease-in;
} 